/* @font-face {
    font-family: "Agustina";
    src: url("http://fonts.cdnfonts.com/css/agustina") format("woff2");
  } */

  @font-face {
    font-family: 'Agustina';
    font-style: normal;
    font-weight: 400;
    src: local('Agustina'), url('https://fonts.cdnfonts.com/s/29981/Agustina.woff') format('woff');
}

  

body,
html{
      margin: 0;
      padding: 0;
      height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

svg {
      display: block;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
}
  
.scrollElement {
      position: absolute;
      height: 6000px;
      width: 100px;
      top: 0;
      z-index: 0;
}

  .btn {
      position: fixed;
      bottom: 5%;
      right: 0px;
      transform: translateX(-50%);
      border: 1px solid #fff;
      border-radius: 5px;
      font-size: 0.9rem;
      padding: 0.5rem 0.7em;
      background-color: transparent;
      color: #ffffff;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      -webkit-font-smoothing: antialiased;
      cursor: pointer;
      transition: all .3s;
      z-index: 11;
  }

  .btn_works {
      left: 100px;
      right: unset;
      text-decoration: none;
  }

  .btn:hover {
      background: #ffffff;
      color: #1B1734;
  }

.name{
font-family: Agustina;
font-weight: 700;
padding: 0 10px;
font-size: 2em;
color : rgb(0, 28, 85);
position: relative;
top: 40%;
left: 42%;
}
.name1{
    font-family: Agustina;
    font-weight: 700;
    padding: 0 10px;
    font-size: 1.3em;
    color : rgb(0, 28, 85);
    position: fixed;
    left : 0%;
    }


    
    #fakeHeight {
        height: 6000px;
        width: 1px;
    }

    #scrollPercentLabel {
        font-family: Impact;
        font-size: 50px;
        color: #2B2B2B;
        background: rgba(255, 255, 255, 0.5);
        padding: 20px;
        position: fixed;
        top: 50%;
        left: 50%;
        box-shadow: 8px 8px 5px rgba(20, 20, 20, 1);
        border-radius: 15px;
    }